
table{
	width: 80%;
	font-size: 40px;
	
	border-collapse: collapse;
	color: black;

	
	font-size: 15px;
	text-align: left;
	border: 1px solid black;
	/*border-radius: 1px;*/
	margin: 1px auto;
	position: relative;
	top: 30px;
	overflow: auto;
	border-bottom: black;



}



 th ,td {
	border: 1px solid black;
	padding: 5px;
		border-bottom: 2px solid ; 
	/*background: #ddd;*/

  
  border-top: 1px solid #dee2e6;
}
th{
	border-top: 1px black solid;
	background-color: #33ccff;
	color: black;
	font-size: 20px;
	
}
tr:nth-child(even) {background-color: #dddddd}
h1{
	text-align: center;
}
p{
	text-align: center;
}