
table{
	width: 100%;
	font-size: 40px;
	text-align: center;
	border-collapse: collapse;
	color: black;

	
	font-size: 15px;
	text-align: left;
	border: 3px solid white;
	border-radius: 1em;
	margin: 0 auto;
	position: relative;
	top: 30px;
/*	overflow: hidden;*/


}
#po{
	margin-left: 20px;

}
#pi{
	
	margin-left: 20px;
}


 th ,td {
	border: 1px solid black;
	padding: 5px;
	border-bottom: 2px solid white; 
	/*background: #ddd;*/

  
  border-top: 1px solid #dee2e6;
}
th{
	background-color: #33ccff;
	color: black;
	font-size: 20px;
	text-align: center;

}
tr:nth-child(even) {background-color: #dddddd}
#thongtin{
	width: 50%;
	height: 30%;
	margin : 0px auto;
	position: relative;
	
}
#table{
	width: 80%;
	height: 70%;
	position: relative;
	display: block;
	margin: 0px auto;
	overflow: auto;
}
#thongtin h1{
	margin:0;
	position: relative;
	text-align: center;
	display: block;
}
#thongtin button{
	
	float: right;
	margin-right: 10px;
	height: 30px;
	background-color: white;
	border-radius: 40px;
	border: 2px solid #009FFF;
}
#thongtin input[type="text"]{
	width: 65%;
	position: absolute;
	left: 160px;
	float: right;
	top: 80px;
	display: block;
	/*margin: 10px auto;*/
	
	height: 30px;
	border: 2px solid #009FFF;
	border-radius: 25px;
	background-color: black;
	color: white;
	text-align: center;
}
#thongtin input[type="submit"]{
	position: absolute;
	left: 600px;
	float: right;
	top: 80px;
	background-color: white;
	border-radius: 40px;
	width: 40px;
	height: 40px;
	border: 2px solid #009FFF;
}
/*#fix_info{
	position: absolute;
	width: 50%;
	left: 50%;
	height: 100%;
	background-color: blue;
	visibility: hidden;
}
.fix_form{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}
.fix_label{
	position: relative;
	display: block;
	right: 150px;
	margin: 10px 10px;
	top: 20px;
}
.fix_input{
	position: relative;
	right: 50px;
	padding: 5px;
	top: 20px;
	box-sizing: border-box;
	border: 1px solid white;
	background-color: white;
	columns: blue;
	
}
*/
tr:nth-child(even) {background-color: #f2f2f2}